@model ProjectASP_Nhom8.DTOs.RegisterDTO

@{
    ViewData["Title"] = "ThemTaiKhoan";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Thêm SV</title>
    <!-- Favicon-->
    @* <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> *@
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/style_DSSV.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <h1>Thêm tài khoản</h1>
        <div class="row">
            <div class="col-md-4">
                <form action="/api/auth/register" class="signin-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TaiKhoan" class="control-label"></label>
                        <input asp-for="TaiKhoan" class="form-control" />
                        <span asp-validation-for="TaiKhoan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MatKhau" class="control-label"></label>
                        <input asp-for="MatKhau" class="form-control" />
                        <span asp-validation-for="MatKhau" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quyen" class="control-label"></label>
                        <input asp-for="Quyen" class="form-control" />
                        <span asp-validation-for="Quyen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Thêm" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="DSTaiKhoan">Quay lại</a>
        </div>
    </div>
</body>

</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
